In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\uhyeo\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\uhyeo\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\uhyeo\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\uhyeo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\uhyeo\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# krx 코드 테스트(참고내용 테스트)

In [4]:
url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13'

In [5]:
stock_code = pd.read_html(url, header=0)[0]

In [6]:
# 종목코드를 6자리로 수정
stock_code['종목코드'] = stock_code['종목코드'].map('{:06d}'.format)
stock_code.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DL,000210,기타 금융업,지주회사,1976-02-02,12월,전병욱,http://www.dlholdings.co.kr,서울특별시
1,DRB동일,004840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월,류영식,http://drbworld.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,078930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,KG동부제철,016380,1차 철강 제조업,"철강재(냉연강판,아연도강판,칼라강판,석도강판,선재류,강관,형강,봉강),비철금속 제조,도매",1986-02-03,12월,박성희,http://www.kgdongbusteel.co.kr,서울특별시

In [7]:
# 분석에 필요한 칼럼만 수정하고, 영어로 수정
stock_code = stock_code[['회사명', '종목코드', '업종', '주요제품', '상장일', '결산월']]
stock_code = stock_code.rename(columns = {'회사명': 'name', '종목코드': 'code', '업종': 'sectors','주요제품': 'products',
                                         '상장일': 'listing_date', '결산월': 'closing_date'})
stock_code['listing_date'] = pd.to_datetime(stock_code['listing_date'])
stock_code.head()

,name,code,sectors,products,listing_date,closing_date
0,DL,000210,기타 금융업,지주회사,1976-02-02,12월
1,DRB동일,004840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월
3,GS,078930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월
4,KG동부제철,016380,1차 철강 제조업,"철강재(냉연강판,아연도강판,칼라강판,석도강판,선재류,강관,형강,봉강),비철금속 제조,도매",1986-02-03,12월

In [8]:
# 위의 내용을 함수로 정리
def get_krx_code():
    url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13'
    stock_code = pd.read_html(url, header = 0)[0]
    stock_code['종목코드'] = stock_code['종목코드'].map('{:06d}'.format)
    stock_code = stock_code[['회사명', '종목코드', '업종', '주요제품', '상장일', '결산월']]
    stock_code = stock_code.rename(columns = {'회사명': 'name', '종목코드': 'code', '업종': 'sectors','주요제품': 'products',
                                              '상장일': 'listing_date', '결산월': 'closing_date'})
    stock_code['listing_date'] = pd.to_datetime(stock_code['listing_date'])
    
    return stock_code

In [9]:
get_krx_code()

,name,code,sectors,products,listing_date,closing_date
0,DL,000210,기타 금융업,지주회사,1976-02-02,12월
1,DRB동일,004840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월
3,GS,078930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월
4,KG동부제철,016380,1차 철강 제조업,"철강재(냉연강판,아연도강판,칼라강판,석도강판,선재류,강관,형강,봉강),비철금속 제조,도매",1986-02-03,12월
...,...,...,...,...,...,...
2497,토마토시스템,393210,소프트웨어 개발 및 공급업,UI솔루션,2021-10-14,12월
2498,틸론,217880,소프트웨어 개발 및 공급업,"Cloud Solution (D,A,E,Rstation)",2015-05-28,12월
2499,플럼라인생명과학,222670,자연과학 및 공학 연구개발업,"강아지암치료제,돼지DNA테라피",2015-07-28,12월
2500,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월
2501,휴벡셀,212310,의료용 기기 제조업,척추용 임플란트 등,2016-07-26,12월

In [10]:
# 강의 내용 6-2 실습

In [11]:
def read_krx_code():
    """KRX로부터 상장기업 목록 파일을 읽어와서 데이터프레임 반환"""
    url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13'
    krx = pd.read_html(url, header = 0)[0]
    krx = krx[['종목코드', '회사명']]
    krx = krx.rename(columns={'종목코드': 'code', '회사명': 'company'})
    krx.code = krx.code.map('{:06d}'.format)
    return krx

read_krx_code()

        code   company
0     000210        DL
1     004840     DRB동일
2     155660       DSR
3     078930        GS
4     016380    KG동부제철
...      ...       ...
2497  393210    토마토시스템
2498  217880        틸론
2499  222670  플럼라인생명과학
2500  331660  한국미라클피플사
2501  212310       휴벡셀

[2502 rows x 2 columns]

In [12]:
!pip install pymysql
import pymysql as pm
from datetime import datetime

Requirement already satisfied: pymysql in c:\users\uhyeo\anaconda3\lib\site-packages (1.0.2)

In [13]:
conn=pm.connect(host='localhost', port=3306, user='root', passwd='abcd123456', db='whsf1_db', autocommit=True, charset='utf8')
"""종목코드를 company_info 테이블에 업데이트 한 후 딕셔너리에 저장"""

sql = "select * from company_info"

codes = dict()
curs = conn.cursor()

df = pd.read_sql(sql, conn)

In [14]:
df

Empty DataFrame
Columns: [code, company, last_update]
Index: []

In [15]:
# df에 있는 데이터중 code와 company 컬럼값을 추출
for idx in range(len(df)):
    codes[df['code'].values[idx]] = df['company'].values[idx]

In [16]:
# DB에서 종목명 업데이트된 마지막 일자 추출
sql = "select max(last_update) from company_info"
curs.execute(sql)

# DB에서 가져온 첫번째 결과
rs = curs.fetchone()
print(rs)

# 오늘 날짜 및 현재시간
var = datetime.today()
print(var)

# 오늘 날짜 부분만 today에 할당
today = datetime.today().strftime('%Y-%m-%d')
print(today)

(None,)
2022-04-09 01:08:25.355598
2022-04-09

In [19]:
# DB에 데이터가 없거나 오늘 전의 데이터일 경우 종목명 및 코드 업데이트
def update_krx_data():
    if rs[0] == None or rs[0].strftime('%Y-%m-%d') < today:
        krx = read_krx_code()

        for idx in range(len(krx)):
            code = krx.code.values[idx]
            company = krx.company.values[idx]
            sql = f"replace into company_info (code, company, last"\
            f"_update) values ('{code}', '{company}', '{today}')"
            curs.execute(sql)
            codes[code] = company
            tmnow = datetime.now().strftime('%Y-%m-%d %H:%M')
            if idx < 5:
                print(code)
                print(company)
                print(f"[{tmnow}] #{idx+1:04d} replace into company_info "\
                  f"values ({code}, {company}, {today})")
        print("Update Complete!")
        conn.commit()
    else :
        print("Update Fail!")

update_krx_data() # 데이터 업데이트
#conn.close()

000210
DL
[2022-04-09 01:15] #0001 replace into company_info values (000210, DL, 2022-04-09)
004840
DRB동일
[2022-04-09 01:15] #0002 replace into company_info values (004840, DRB동일, 2022-04-09)
155660
DSR
[2022-04-09 01:15] #0003 replace into company_info values (155660, DSR, 2022-04-09)
078930
GS
[2022-04-09 01:15] #0004 replace into company_info values (078930, GS, 2022-04-09)
016380
KG동부제철
[2022-04-09 01:15] #0005 replace into company_info values (016380, KG동부제철, 2022-04-09)
Update Complete!

In [20]:
# truncate 데이터 삭제 실습
trunsql = "truncate company_info"
curs.execute(trunsql)

0

In [21]:
update_krx_data() # 데이터 업데이트

000210
DL
[2022-04-09 01:15] #0001 replace into company_info values (000210, DL, 2022-04-09)
004840
DRB동일
[2022-04-09 01:15] #0002 replace into company_info values (004840, DRB동일, 2022-04-09)
155660
DSR
[2022-04-09 01:15] #0003 replace into company_info values (155660, DSR, 2022-04-09)
078930
GS
[2022-04-09 01:15] #0004 replace into company_info values (078930, GS, 2022-04-09)
016380
KG동부제철
[2022-04-09 01:15] #0005 replace into company_info values (016380, KG동부제철, 2022-04-09)
Update Complete!

In [22]:
# delete 데이터 삭제 실습
delsql = "delete from company_info"
curs.execute(delsql)

2502

In [23]:
update_krx_data() # 데이터 업데이트
conn.close() # 연결 종료

000210
DL
[2022-04-09 01:15] #0001 replace into company_info values (000210, DL, 2022-04-09)
004840
DRB동일
[2022-04-09 01:15] #0002 replace into company_info values (004840, DRB동일, 2022-04-09)
155660
DSR
[2022-04-09 01:15] #0003 replace into company_info values (155660, DSR, 2022-04-09)
078930
GS
[2022-04-09 01:15] #0004 replace into company_info values (078930, GS, 2022-04-09)
016380
KG동부제철
[2022-04-09 01:15] #0005 replace into company_info values (016380, KG동부제철, 2022-04-09)
Update Complete!